{% include "homepage/header.html" %}
{% load static %}


<!-- Banner Section -->
    <section class="py-3" style="background-image: url('{% static 'home/images/background-pattern.jpg' %}');background-repeat: no-repeat;background-size: cover;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="banner-blocks">
            
              <!-- Swiper Slider -->
              <div class="banner-ad large bg-info block-1">
                <div class="swiper banner-swiper">
                  <div class="swiper-wrapper">

                    <div class="swiper-slide">
                      <img src="https://cdn.fcglcdn.com/brainbees/images/boutique/670x670/37290.webp" class="img-fluid w-100" alt="Onam Offer Banner">
                    </div>
                    <div class="swiper-slide">
                      <img src="https://cdn.fcglcdn.com/brainbees/images/boutique/670x670/37309.webp" class="img-fluid w-100" alt="New Arrived Banner">
                    </div>
                    <div class="swiper-slide">
                      <img src="https://cdn.fcglcdn.com/brainbees/images/boutique/670x670/37338.webp" class="img-fluid w-100" alt="Baby Offer Banner">
                    </div>
                    <div class="swiper-slide">
                      <img src="https://cdn.fcglcdn.com/brainbees/images/boutique/670x670/37380.webp" class="img-fluid w-100" alt="Baby Offer Banner">
                    </div>
                    <div class="swiper-slide">
                      <img src="https://cdn.fcglcdn.com/brainbees/images/boutique/670x670/37381.webp" class="img-fluid w-100" alt="Baby Offer Banner">
                    </div>
                    <div class="swiper-slide">
                      <img src="https://cdn.fcglcdn.com/brainbees/images/boutique/670x670/36998.webp" class="img-fluid w-100" alt="Baby Offer Banner">
                    </div>
                    <div class="swiper-slide">
                      <img src="https://cdn.fcglcdn.com/brainbees/images/boutique/670x670/37403.webp" class="img-fluid w-100" alt="Baby Offer Banner">
                    
                    </div>
                    <div class="swiper-slide">
                      <img src="https://cdn.fcglcdn.com/brainbees/images/boutique/670x670/37401.webp" class="img-fluid w-100" alt="Onam Offer Banner">
                    </div>
                    <div class="swiper-slide">
                      <img src="	https://cdn.fcglcdn.com/brainbees/images/boutique/670x670/37402.webp" class="img-fluid w-100" alt="New Arrived Banner">
                    </div>
                    <div class="swiper-slide">
                      <img src="https://cdn.fcglcdn.com/brainbees/images/boutique/670x670/37404.webp" class="img-fluid w-100" alt="Baby Offer Banner">
                    </div>
                    <div class="swiper-slide">
                      <img src="https://cdn.fcglcdn.com/brainbees/images/boutique/670x670/37405.webp" class="img-fluid w-100" alt="Baby Offer Banner">
                    </div>
                    <div class="swiper-slide">
                      <img src="https://cdn.fcglcdn.com/brainbees/images/boutique/670x670/37406.webp" class="img-fluid w-100" alt="Baby Offer Banner">
                    </div>
                  </div>
                </div>
              </div>


<!-- Banner -->
              
              <div class="banner-ad bg-success-subtle block-2" style="background:url('{% static 'home/images/add.png' %}') no-repeat;background-position: right bottom">
                <div class="row banner-content p-5">

                  <div class="content-wrapper col-md-7">
                    <div class="categories sale mb-3 pb-3">20% off</div>
                    <h3 class="banner-title">Toys & Games </h3>
                    <a href="#" class="d-flex align-items-center nav-link">Shop Collection <svg width="24" height="24"><use xlink:href="#arrow-right"></use></svg></a>
                  </div>

                </div>
              </div>

              <div class="banner-ad bg-danger block-3" style="background:url('{% static 'home/images/ad-accessories.png' %}') no-repeat;background-position: right bottom">
                <div class="row banner-content p-5">

                  <div class="content-wrapper col-md-7">
                    <div class="categories sale mb-3 pb-3">15% off</div>
                    <h3 class="item-title">Casual Shoes</h3>
                    <a href="#" class="d-flex align-items-center nav-link">Shop Collection <svg width="24" height="24"><use xlink:href="#arrow-right"></use></svg></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



<!-- Categories-Accessories -->
<section class="category-section py-4" style="background-color: #f8f9fa;">
  <div class="html-desktop-data" style="margin-bottom:0px !important">
    
    <!-- heading Banner -->
    <div style="width: 100%; float: left;">
      <div>
        <img style="width: 100%; vertical-align: middle;" 
             src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_54.jpg" 
             alt="Footwear & Accessories Wardrobe">
      </div>
    </div>

    <!-- Category Items -->
    <div style="width: 12.5%; float: left;">
      <div onclick="divClicked('https://example.com/flat40')">
        <img style="width: 100%; vertical-align: middle;" 
             src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_55.jpg" 
             alt="Flat 40% OFF">
      </div>
    </div>

    <div style="width: 12.5%; float: left;">
      <div onclick="divClicked('https://example.com/casual-shoes')">
        <img style="width: 100%; vertical-align: middle;" 
             src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_56.jpg" 
             alt="Casual Shoes">
      </div>
    </div>

    <div style="width: 12.5%; float: left;">
      <div onclick="divClicked('https://example.com/sandals')">
        <img style="width: 100%; vertical-align: middle;" 
             src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_57.jpg" 
             alt="Sandals">
      </div>
    </div>

    <div style="width: 12.5%; float: left;">
      <div onclick="divClicked('https://example.com/flip-flops')">
        <img style="width: 100%; vertical-align: middle;" 
             src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_58.jpg" 
             alt="Flip Flops">
      </div>
    </div>

    <div style="width: 12.5%; float: left;">
      <div onclick="divClicked('https://example.com/sneakers')">
        <img style="width: 100%; vertical-align: middle;" 
             src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_59.jpg" 
             alt="Sneakers">
      </div>
    </div>

    <div style="width: 12.5%; float: left;">
      <div onclick="divClicked('https://example.com/party-shoes')">
        <img style="width: 100%; vertical-align: middle;" 
             src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_60.jpg" 
             alt="Party Shoes">
      </div>
    </div>

    <div style="width: 12.5%; float: left;">
      <div onclick="divClicked('https://example.com/ethnic-wear')">
        <img style="width: 100%; vertical-align: middle;" 
             src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_61.jpg" 
             alt="Ethnic Wear">
      </div>
    </div>

    <div style="width: 12.5%; float: left;">
      <div onclick="divClicked('https://example.com/clogs')">
        <img style="width: 100%; vertical-align: middle;" 
             src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_62.jpg" 
             alt="Clogs">
      </div>
    </div>


    <div style="width: 12.5%; float: left;">
      <div onclick="divClicked('https://example.com/clogs')">
        <img style="width: 100%; vertical-align: middle;" 
             src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_63.jpg" 
             alt="Clogs">
      </div>
    </div>
    <div style="width: 12.5%; float: left;">
      <div onclick="divClicked('https://example.com/clogs')">
        <img style="width: 100%; vertical-align: middle;" 
             src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_64.jpg" 
             alt="Clogs">
      </div>
    </div>
    <div style="width: 12.5%; float: left;">
      <div onclick="divClicked('https://example.com/clogs')">
        <img style="width: 100%; vertical-align: middle;" 
             src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_65.jpg" 
             alt="Clogs">
      </div>
    </div>
    <div style="width: 12.5%; float: left;">
      <div onclick="divClicked('https://example.com/clogs')">
        <img style="width: 100%; vertical-align: middle;" 
             src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_66.jpg" 
             alt="Clogs">
      </div>
    </div>
    <div style="width: 12.5%; float: left;">
      <div onclick="divClicked('https://example.com/clogs')">
        <img style="width: 100%; vertical-align: middle;" 
             src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_67.jpg" 
             alt="Clogs">
      </div>
    </div>
    <div style="width: 12.5%; float: left;">
      <div onclick="divClicked('https://example.com/clogs')">
        <img style="width: 100%; vertical-align: middle;" 
             src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_68.jpg" 
             alt="Clogs">
      </div>
    </div>
     <div style="width: 12.5%; float: left;">
      <div onclick="divClicked('https://example.com/clogs')">
        <img style="width: 100%; vertical-align: middle;" 
             src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_69.jpg" 
             alt="Clogs">
      </div>
    </div>
     <div style="width: 12.5%; float: left;">
      <div onclick="divClicked('https://example.com/clogs')">
        <img style="width: 100%; vertical-align: middle;" 
             src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_70.jpg" 
             alt="Clogs">
      </div>
    </div>


    <!-- Clear Fix -->
    <div style="clear: both;"></div>
  </div>
</section>

<script>
  function divClicked(url) {
    window.location.href = url;
  }
</script>









    
<!-- Banner-Her& Him -->
 <section class="py-4">
  <div class="container-fluid">
    <div class="row g-0">
      
      <!-- Left Image -->
      <div class="col-md-6">
        <a href="#" target="_blank" class="d-block">
          <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_12.jpg" 
               alt="Styles for Her" 
               class="img-fluid w-100">
        </a>
      </div>

      <!-- Right Image -->
      <div class="col-md-6">
        <a href="#" target="_blank" class="d-block">
          <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_13.jpg" 
               alt="Styles for Him" 
               class="img-fluid w-100">
        </a>
      </div>

    </div>
  </div>
</section>



         

        <!-- Category Grid Section -->
    <section>
        <div class="container-fluid mb-0">
            <!-- Top Banner -->
            <div class="row mb-4">
                <div class="col-12">
                    <h2 class="section-title">Explore by Category</h2>
                </div>
            </div>

            <!-- Category Grid -->
            <div class="row text-center mt-2">

              <!-- img 1 -->
                <div class="col-6 col-md-2 mb-3">
                    <a href="https://example.com/link1" class="d-block category-item">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_15.jpg" class="img-fluid rounded" alt="Category 1">
                        
                    </a>
                </div>
                <!-- img 2 -->
                <div class="col-6 col-md-2 mb-3">
                    <a href="https://example.com/link2" class="d-block category-item">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_190825_21.jpg" class="img-fluid rounded" alt="Category 2">
                        
                    </a>
                </div>
                <!-- img 3 -->
                <div class="col-6 col-md-2 mb-3">
                    <a href="https://example.com/link3" class="d-block category-item">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_27.jpg" class="img-fluid rounded" alt="Category 3">
                        
                    </a>
                </div>
                <!-- img 4 -->
                <div class="col-6 col-md-2 mb-3">
                    <a href="https://example.com/link4" class="d-block category-item">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_16.jpg" class="img-fluid rounded" alt="Category 4">
                        
                    </a>
                </div>
                <!-- img 5 -->
                <div class="col-6 col-md-2 mb-3">
                    <a href="https://example.com/link5" class="d-block category-item">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_190825_22.jpg" class="img-fluid rounded" alt="Category 5">
                        
                    </a>
                </div>
                <!-- img 6 -->
                <div class="col-6 col-md-2 mb-3">
                    <a href="https://example.com/link5" class="d-block category-item">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_28.jpg" class="img-fluid rounded" alt="Category 5">
                        
                    </a>
                </div>
                <!-- img 7 -->
                <div class="col-6 col-md-2 mb-3">
                    <a href="https://example.com/link5" class="d-block category-item">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_17.jpg" class="img-fluid rounded" alt="Category 5">
                        
                    </a>
                </div>
                <!-- img 8 -->
                <div class="col-6 col-md-2 mb-3">
                    <a href="https://example.com/link5" class="d-block category-item">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_23.jpg" class="img-fluid rounded" alt="Category 5">
                        
                    </a>
                </div>
                <!-- img 9 -->
                <div class="col-6 col-md-2 mb-3">
                    <a href="https://example.com/link5" class="d-block category-item">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_29.jpg" class="img-fluid rounded" alt="Category 5">
                        
                    </a>
                </div>
                <!-- img 10 -->
                <div class="col-6 col-md-2 mb-3">
                    <a href="https://example.com/link5" class="d-block category-item">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_18.jpg" class="img-fluid rounded" alt="Category 5">
                        
                    </a>
                </div>
                <!-- img 11 -->
                <div class="col-6 col-md-2 mb-3">
                    <a href="https://example.com/link5" class="d-block category-item">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_24.jpg" class="img-fluid rounded" alt="Category 5">
                       
                    </a>
                </div>
                <!-- img 12 -->
                <div class="col-6 col-md-2 mb-3">
                    <a href="https://example.com/link5" class="d-block category-item">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_30.jpg" class="img-fluid rounded" alt="Category 5">
                        
                    </a>
                </div>
                <!-- img 13 -->
                <div class="col-6 col-md-2 mb-3">
                    <a href="https://example.com/link5" class="d-block category-item">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_19.jpg" class="img-fluid rounded" alt="Category 5">
                        
                    </a>
                </div>
                <!-- img 14 -->
                <div class="col-6 col-md-2 mb-3">
                    <a href="https://example.com/link5" class="d-block category-item">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_190825_25.jpg" class="img-fluid rounded" alt="Category 5">
                        
                    </a>
                </div>
                <!-- img 15 -->
                <div class="col-6 col-md-2 mb-3">
                    <a href="https://example.com/link5" class="d-block category-item">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_31.jpg" class="img-fluid rounded" alt="Category 5">
                        
                    </a>
                </div>
                <!-- img 16 -->
                <div class="col-6 col-md-2 mb-3">
                    <a href="https://example.com/link5" class="d-block category-item">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_20.jpg" class="img-fluid rounded" alt="Category 5">
                        
                    </a>
                </div>
                <!-- img 17 -->
                <div class="col-6 col-md-2 mb-3">
                    <a href="https://example.com/link5" class="d-block category-item">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_26.jpg" class="img-fluid rounded" alt="Category 5">
                        
                    </a>
                </div>
                <!-- img 18 -->
                <div class="col-6 col-md-2 mb-3">
                    <a href="https://example.com/link5" class="d-block category-item">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_32.jpg" class="img-fluid rounded" alt="Category 5">
                        
                    </a>
                </div>
                
            </div>
        </div>
    </section>

 <section class="py-5 container-fluid p-0">
  <div class="swiper ads-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="{% static 'home/images/banner-ad1.png' %}" class="img-fluid w-100" alt="Onam Offer Banner">
      </div>
      <div class="swiper-slide">
        <img src="{% static 'home/images/banner-ad2.png' %}" class="img-fluid w-100" alt="New Arrived Banner">
      </div>
      <div class="swiper-slide">
        <img src="{% static 'home/images/banner-ad3.png' %}" class="img-fluid w-100" alt="Baby Offer Banner">
      </div>
      <div class="swiper-slide">
        <img src="{% static 'home/images/banner-ad4.png' %}" class="img-fluid w-100" alt="Offer Banner">
      </div>
    </div>
  </div>
</section>


<!-- Cozy Innerwear -->

    <section class="py-4 overflow-hidden ">
        <div class="container-fluid">
            <div class="row mb-5">
                <div class="col-md-12">
                    <!-- Section Header -->
                    <div class="section-header d-flex flex-wrap justify-content-between align-items-center">
                        <h2 class="section-title mb-0">Cozy Innerwear</h2>
                        
                    </div>
                </div>
            </div>

    <!-- Centered Category Row -->
    <div class="row justify-content-center g-3">
      <!-- img 1 -->
      <div class="col-6 col-sm-4 col-md-2">
        <a href="https://example.com/link1" class="d-block text-center">
          <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_49.jpg" 
               class="img-fluid rounded" alt="Category 1">
        </a>
      </div>

      <!-- img 2 -->
      <div class="col-6 col-sm-4 col-md-2">
        <a href="https://example.com/link2" class="d-block text-center">
          <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_50.jpg" 
               class="img-fluid rounded" alt="Category 2">
        </a>
      </div>

      <!-- img 3 -->
      <div class="col-6 col-sm-4 col-md-2">
        <a href="https://example.com/link3" class="d-block text-center">
          <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_51.jpg" 
               class="img-fluid rounded" alt="Category 3">
        </a>
      </div>

      <!-- img 4 -->
      <div class="col-6 col-sm-4 col-md-2">
        <a href="https://example.com/link4" class="d-block text-center">
          <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_52.jpg" 
               class="img-fluid rounded" alt="Category 4">
        </a>
      </div>

      <!-- img 5 -->
      <div class="col-6 col-sm-4 col-md-2">
        <a href="https://example.com/link5" class="d-block text-center">
          <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/autumn_default_desktop_page_140825_53.jpg" 
               class="img-fluid rounded" alt="Category 5">
        </a>
      </div>
    </div>

  </div>
</section>




<!-- Full-width Centered Image Section -->
<section class="image-section mx-4 py-4 "> 
  <div class="mx-4">
    <a href="">
      <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/desktop_nonapp_soi_page_250725_01.jpg" 
           class="img-fluid d-block mx-auto w-100" 
           alt="Potty Training" 
           title="Potty Training"
           style="max-width: 100%;">
    </a>
  </div>
</section>








    <!-- Baby Cards -->
    <section class="py-5 overflow-hidden">
        <div class="container-fluid">
            <div class="row mb-5">
                <div class="col-md-12">
                    <!-- Section Header -->
                    <div class="section-header d-flex flex-wrap justify-content-between align-items-center">
                        <h2 class="section-title mb-0">Baby Essentials</h2>
                        <a href="#" class="btn btn-outline-primary">View All</a>
                    </div>
                </div>
            </div>

            <!-- Cards Row -->
            <div class="row">
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card h-100 shadow-sm">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/desktop_nonapp_soi_page_250725_04.jpg" class="card-img-top" alt="Kids Collection">
                       
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card h-100 shadow-sm">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/desktop_nonapp_soi_page_250725_05.jpg" class="card-img-top" alt="Kids Collection">
                       
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card h-100 shadow-sm">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/desktop_nonapp_soi_page_250725_06.jpg" class="card-img-top" alt="Kids Collection">
                       
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card h-100 shadow-sm">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/Desktop_Diaper_Rash_cream_1.jpg" class="card-img-top" alt="Kids Collection">
                       
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card h-100 shadow-sm">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/desktop_nonapp_soi_page_250725_08.jpg" class="card-img-top" alt="Kids Collection">
                       
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card h-100 shadow-sm">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/desktop_nonapp_soi_page_250725_09.jpg" class="card-img-top" alt="Kids Collection">
                       
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card h-100 shadow-sm">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/desktop_nonapp_soi_page_250725_10.jpg" class="card-img-top" alt="Kids Collection">
                       
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card h-100 shadow-sm">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/desktop_nonapp_soi_page_250725_14.jpg" class="card-img-top" alt="Kids Collection">
                       


                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card h-100 shadow-sm">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/desktop_nonapp_soi_page_18082025_15.jpg" class="card-img-top" alt="Kids Collection">
                       
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card h-100 shadow-sm">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/desktop_nonapp_soi_page_18082025_16.jpg" class="card-img-top" alt="Kids Collection">
                        
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card h-100 shadow-sm">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/desktop_nonapp_soi_page_250725_17.jpg" class="card-img-top" alt="Kids Collection">
                        
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card h-100 shadow-sm">
                        <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/desktop_nonapp_soi_page_250725_18.jpg" class="card-img-top" alt="Kids Collection">
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>













<!-- Accessories & Games Banner -->

    <section class="py-4">
      <div class="container-fluid">
        <div class="row">
          
          <div class="col-md-6">
            <div class="banner-ad bg-danger mb-3" style="background: url('{% static 'home/images/caps.png' %}');background-repeat: no-repeat;background-position: right bottom;">
              <div class="banner-content p-5">

                <div class="categories text-primary fs-3 fw-bold">Upto 25% Off</div>
                <h3 class="banner-title">Accessories</h3>
                <p>Hats, Caps & more</p>
                
                <a href="#" class="btn btn-dark text-uppercase">Shop Now</a>


              </div>
            
            </div>
          </div>
          <div class="col-md-6">
            <div class="banner-ad bg-info" style="background: url('{% static 'home/images/chee.png' %}');background-repeat: no-repeat;background-position: right bottom;">
              <div class="banner-content p-5">

                <div class="categories text-primary fs-3 fw-bold">Upto 25% Off</div>
                <h3 class="banner-title">Games</h3>
                <p>play and learn</p>
                
                
                <a href="#" class="btn btn-dark text-uppercase">Show Now</a>

              </div>
            
            </div>
          </div>
             
        </div>
      </div>
    </section>





 <!-- Offer Section -->

    <section class="py-4">
      <div class="container-fluid">

        <div class="bg-secondary py-5 my-5 rounded-5" style="background: url('images/bg-leaves-img-pattern.png') no-repeat;">
          <div class="container my-5">
            <div class="row">
              <div class="col-md-6 p-5">
                <div class="section-header">
                  <h2 class="section-title display-4">Get <span class="text-primary">25% Discount</span> on your first purchase</h2>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst amet, metus, sit massa posuere maecenas. At tellus ut nunc amet vel egestas.</p>
              </div>
              <div class="col-md-6 p-5">
                <form>
                  <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text"
                      class="form-control form-control-lg" name="name" id="name" placeholder="Name">
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label">Email</label>
                    <input type="email" class="form-control form-control-lg" name="email" id="email" placeholder="abc@mail.com">
                  </div>
                  <div class="form-check form-check-inline mb-3">
                    <label class="form-check-label" for="subscribe">
                    <input class="form-check-input" type="checkbox" id="subscribe" value="subscribe">
                    Subscribe to the newsletter</label>
                  </div>
                  <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark btn-lg">Submit</button>
                  </div>
                </form>
                
              </div>
              
            </div>
            
          </div>
        </div>
        
      </div>
    </section>

  



<!-- People Search History Section -->
    <section class="py-4">
      <div class="container-fluid">
        <h2 class="my-5">People are also looking for</h2>
        <a href="#" class="btn btn-warning me-2 mb-2">Blue diamon almonds</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Angie’s Boomchickapop Corn</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Salty kettle Corn</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Chobani Greek Yogurt</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Sweet Vanilla Yogurt</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Foster Farms Takeout Crispy wings</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Warrior Blend Organic</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Chao Cheese Creamy</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Chicken meatballs</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Blue diamon almonds</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Angie’s Boomchickapop Corn</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Salty kettle Corn</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Chobani Greek Yogurt</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Sweet Vanilla Yogurt</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Foster Farms Takeout Crispy wings</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Warrior Blend Organic</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Chao Cheese Creamy</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Chicken meatballs</a>
      </div>
    </section>



    <!-- Info Section -->

    <section class="py-5">
      <div class="container-fluid">
        <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-5">
          <div class="col">
            <div class="card mb-3 border-0">
              <div class="row">
                <div class="col-md-2 text-dark">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M21.5 15a3 3 0 0 0-1.9-2.78l1.87-7a1 1 0 0 0-.18-.87A1 1 0 0 0 20.5 4H6.8l-.33-1.26A1 1 0 0 0 5.5 2h-2v2h1.23l2.48 9.26a1 1 0 0 0 1 .74H18.5a1 1 0 0 1 0 2h-13a1 1 0 0 0 0 2h1.18a3 3 0 1 0 5.64 0h2.36a3 3 0 1 0 5.82 1a2.94 2.94 0 0 0-.4-1.47A3 3 0 0 0 21.5 15Zm-3.91-3H9L7.34 6H19.2ZM9.5 20a1 1 0 1 1 1-1a1 1 0 0 1-1 1Zm8 0a1 1 0 1 1 1-1a1 1 0 0 1-1 1Z"/></svg>
                </div>
                <div class="col-md-10">
                  <div class="card-body p-0">
                    <h5>Free delivery</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
                  </div>
                </div>
              </div>
              </div>
          </div>
          <div class="col">
            <div class="card mb-3 border-0">
              <div class="row">
                <div class="col-md-2 text-dark">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M19.63 3.65a1 1 0 0 0-.84-.2a8 8 0 0 1-6.22-1.27a1 1 0 0 0-1.14 0a8 8 0 0 1-6.22 1.27a1 1 0 0 0-.84.2a1 1 0 0 0-.37.78v7.45a9 9 0 0 0 3.77 7.33l3.65 2.6a1 1 0 0 0 1.16 0l3.65-2.6A9 9 0 0 0 20 11.88V4.43a1 1 0 0 0-.37-.78ZM18 11.88a7 7 0 0 1-2.93 5.7L12 19.77l-3.07-2.19A7 7 0 0 1 6 11.88v-6.3a10 10 0 0 0 6-1.39a10 10 0 0 0 6 1.39Zm-4.46-2.29l-2.69 2.7l-.89-.9a1 1 0 0 0-1.42 1.42l1.6 1.6a1 1 0 0 0 1.42 0L15 11a1 1 0 0 0-1.42-1.42Z"/></svg>
                </div>
                <div class="col-md-10">
                  <div class="card-body p-0">
                    <h5>100% secure payment</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
                  </div>
                </div>
              </div>
              </div>
          </div>
          <div class="col">
            <div class="card mb-3 border-0">
              <div class="row">
                <div class="col-md-2 text-dark">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M22 5H2a1 1 0 0 0-1 1v4a3 3 0 0 0 2 2.82V22a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1v-9.18A3 3 0 0 0 23 10V6a1 1 0 0 0-1-1Zm-7 2h2v3a1 1 0 0 1-2 0Zm-4 0h2v3a1 1 0 0 1-2 0ZM7 7h2v3a1 1 0 0 1-2 0Zm-3 4a1 1 0 0 1-1-1V7h2v3a1 1 0 0 1-1 1Zm10 10h-4v-2a2 2 0 0 1 4 0Zm5 0h-3v-2a4 4 0 0 0-8 0v2H5v-8.18a3.17 3.17 0 0 0 1-.6a3 3 0 0 0 4 0a3 3 0 0 0 4 0a3 3 0 0 0 4 0a3.17 3.17 0 0 0 1 .6Zm2-11a1 1 0 0 1-2 0V7h2ZM4.3 3H20a1 1 0 0 0 0-2H4.3a1 1 0 0 0 0 2Z"/></svg>
                </div>
                <div class="col-md-10">
                  <div class="card-body p-0">
                    <h5>Quality guarantee</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
                  </div>
                </div>
              </div>
              </div>
          </div>
          <div class="col">
            <div class="card mb-3 border-0">
              <div class="row">
                <div class="col-md-2 text-dark">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M12 8.35a3.07 3.07 0 0 0-3.54.53a3 3 0 0 0 0 4.24L11.29 16a1 1 0 0 0 1.42 0l2.83-2.83a3 3 0 0 0 0-4.24A3.07 3.07 0 0 0 12 8.35Zm2.12 3.36L12 13.83l-2.12-2.12a1 1 0 0 1 0-1.42a1 1 0 0 1 1.41 0a1 1 0 0 0 1.42 0a1 1 0 0 1 1.41 0a1 1 0 0 1 0 1.42ZM12 2A10 10 0 0 0 2 12a9.89 9.89 0 0 0 2.26 6.33l-2 2a1 1 0 0 0-.21 1.09A1 1 0 0 0 3 22h9a10 10 0 0 0 0-20Zm0 18H5.41l.93-.93a1 1 0 0 0 0-1.41A8 8 0 1 1 12 20Z"/></svg>
                </div>
                <div class="col-md-10">
                  <div class="card-body p-0">
                    <h5>guaranteed savings</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
                  </div>
                </div>
              </div>
              </div>
          </div>
          <div class="col">
            <div class="card mb-3 border-0">
              <div class="row">
                <div class="col-md-2 text-dark">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M18 7h-.35A3.45 3.45 0 0 0 18 5.5a3.49 3.49 0 0 0-6-2.44A3.49 3.49 0 0 0 6 5.5A3.45 3.45 0 0 0 6.35 7H6a3 3 0 0 0-3 3v2a1 1 0 0 0 1 1h1v6a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3v-6h1a1 1 0 0 0 1-1v-2a3 3 0 0 0-3-3Zm-7 13H8a1 1 0 0 1-1-1v-6h4Zm0-9H5v-1a1 1 0 0 1 1-1h5Zm0-4H9.5A1.5 1.5 0 1 1 11 5.5Zm2-1.5A1.5 1.5 0 1 1 14.5 7H13ZM17 19a1 1 0 0 1-1 1h-3v-7h4Zm2-8h-6V9h5a1 1 0 0 1 1 1Z"/></svg>
                </div>
                <div class="col-md-10">
                  <div class="card-body p-0">
                    <h5>Daily offers</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
                  </div>
                </div>
              </div>
              </div>
          </div>
        </div>
      </div>
    </section>



<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Banner (top large slider)
    new Swiper(".banner-swiper", {
      loop: true,
      autoplay: {
        delay: 3000,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".banner-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".banner-next",
        prevEl: ".banner-prev",
      },
    });

    // Ads (middle section slider)
    new Swiper(".ads-swiper", {
      loop: true,
      autoplay: {
        delay: 4000,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".ads-pagination",
        clickable: true,
      },
    });
  });
</script>





   {% include "homepage/footer.html" %}

